:root {
    --primary-color: #4b88c9;
    --secondary-color: #6c757d;
    --accent1-color: #4da6b3;
    --accent2-color: #f8f9fa;
    --heading-font:"Arial","Georgia", serif, left;
    --body-font: "verdana", "Tahoma", serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

 
header {
    background-color: var(--primary-color);
   color:var(--accent2-color);
} 

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header,main,footer{
    width: 840px;
    margin: auto;
}
h1,h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav,p,section,article{
    margin: 50px;
    padding: 10px;
}
 
.socialmedia a{
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top: 10px;
    width:100%;
    text-align:center;
    opacity:0.7;
    background-color: var(--accent1-color);
    color: #000; 
}

.hero article img {
    float: right;
    width: 125px;
}

